.hidden {
  display: none;
}

.cat-image {
  display: flex;
  gap: 40px;
}
.cat-image img {
  max-width: 40%;
  height: auto;
}
.cat-image div {
  width: 60%;
}

.cat-info {
  font-weight: bold;
}

.cat-info span {
  font-weight: normal;
}