.hidden {
  display: none;
}

.cat-image {
  display: flex;
  gap: 20px;
  
}
.cat-image img {
  max-width: 40%;
  height: auto;
}
.cat-image div {
  width: 60%;
}

.breed-select {
  margin-bottom: 20px;
  margin-top: 10px; 
}

.cat-info {
  font-weight: bold;
}

.cat-info span {
  font-weight: normal;
}